@import '../theme/styles.scss';

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    ion-card-title {
        font-size: 16px;
    }
}

.field {
    padding: 4px 20px;
}

@media screen and (min-width: 1024px) {
    .cards {
        grid-template-columns: 30% 30%;
        padding: 0 120px;
        justify-content: center;
    }
}

